# Visualizing statistical estimates and fits

This tutorial shows how to visualize interaction effects included in regression
models such as:

\begin{equation}
  y = \alpha + \beta * x + \gamma * z + \delta * x * z + \epsilon
\end{equation}

Mainly, we use interaction terms to take into account that the effect of the  
independent variable $x$ on the outcome $y$ is contingent on the value of a 
third variable $z$.

Examples:

+   the economic value of patents is contingent on the intellectual property
    regime of a country/set of countries
+   the economic returns of schooling are contingent on the institutional and
    cultural environment of a country
+   the social influence of a Soundcloud user's suggestions/reposts is contingent 
    on followership
+   the influence of job satisfaction on intent to quit is contingent on the 
    size of the employer

Key reference:

![](images/baron_kenney.png)

# Setup

## Libraries

In [1]:
import os
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import rc
import statsmodels.api as sm
import statsmodels.formula as smf
import pandas as pd

## Viz options

In [2]:
rc('font',**{'family':'serif','serif':['Avant Garde']})
rc('text', usetex=True)

# Application

## Goal

The working hypothesis is that lower levels of job satisfaction ($x$) increases the
chances of turnover, i.e., intent to quit ($y$).

On top of this, we think the negative relationship between  $x$ and $y$ depends
on the size of the employer. The intuition is that large employers have an 
internal labor market that allows individuals to change job positions (get a
better fit with the task) without quitting the employment relation.

The **goal** is showing how the relationship between job satisfaction and 
intent to quit (as estimated via OLS) changes as firm size increases.

## Data simulation

We simulate multiple datasets involving the following variables:

+   job satisfaction - the extent to which an employee is happy with his/her job
    (let's assume we have Likert scale data; legend: 1 = not at all, 5 = to a 
    great extent)
+   intent to quit - the extent to which an employee considers the possibility 
    to quit the current job (let's assume we have Likert scale data; legend: 1 
    = not at all, 5 = to a great extent)
+   age (in years)
+   organizational tenure (years spent working for the employer)
   
Let's assume that all variables have been transformed into z-scores.
   
Each dataset we simulate reflect the following cohorts of employers:

+   micro firms: 1 - 5 employees
+   small firms: 6 - 25 employees
+   medium firms: 26 - 100 employees
+   large firms: 100 - 500 employees
+   very large firms: 500 +

In [3]:
# sample size
num_samples = 1000

# variables' mean 
mu = np.repeat(0, 4)

# names
names = ['job_sat', 'int_qui', 'age', 'org_tnr']

### Micro firms

In [4]:
# the desired covariance matrix.
r = np.array([
        [  1.00, -0.40, -0.03,  0.11],
        [ -0.40,  1.00, -0.05, -0.09],
        [ -0.03, -0.05,  1.00,  0.05],
        [  0.11, -0.09,  0.05,  1.00]
    ])

# generate the random samples.
df_1_5 = pd.DataFrame(np.random.multivariate_normal(mu, r, size=num_samples),
                      columns=names)

# expand
df_1_5.loc[:, 'cohort'] = 'micro'
df_1_5.loc[:, 'firm_size'] = np.random.randint(low=1, high=5, size=num_samples)

In [5]:
df_1_5.head()

    job_sat   int_qui       age   org_tnr cohort  firm_size
0 -0.505798  1.416839  0.432379  0.151996  micro          4
1  0.026324 -0.160078 -0.064152  1.180361  micro          1
2  0.374793  1.424660  0.952461  0.914404  micro          1
3  0.340800  0.185450  1.842481  1.142542  micro          4
4  0.665719  0.292559  0.666665  0.038033  micro          3

### Small firms

In [6]:
# the desired covariance matrix.
r = np.array([
        [  1.00, -0.30, -0.03,  0.11],
        [ -0.30,  1.00, -0.05, -0.09],
        [ -0.03, -0.05,  1.00,  0.05],
        [  0.11, -0.09,  0.05,  1.00]
    ])

# generate the random samples.
df_6_25 = pd.DataFrame(np.random.multivariate_normal(mu, r, size=num_samples),
                       columns=names)

# expand
df_6_25.loc[:, 'cohort'] = 'large'
df_6_25.loc[:, 'firm_size'] = np.random.randint(low=6,
                                                high=25,
                                                size=num_samples)

In [7]:
df_6_25.head()

    job_sat   int_qui       age   org_tnr cohort  firm_size
0  0.744655 -1.301466 -0.497075  0.347993  large         17
1  1.389665  1.678106  0.031252  0.939441  large         19
2  1.002592  0.049374 -1.016689  0.676922  large         12
3 -1.745963  0.155613  0.174856  0.054808  large         23
4  0.897748  1.524335 -0.974907  0.214900  large         20

### Medium firms

In [8]:
# the desired covariance matrix.
r = np.array([
        [  1.00, -0.25, -0.03,  0.11],
        [ -0.25,  1.00, -0.05, -0.09],
        [ -0.03, -0.05,  1.00,  0.05],
        [  0.11, -0.09,  0.05,  1.00]
    ])

# generate the random samples.
df_26_100 = pd.DataFrame(np.random.multivariate_normal(mu, r, size=num_samples),
                         columns=names)

# expand
df_26_100.loc[:, 'cohort'] = 'medium'
df_26_100.loc[:, 'firm_size'] = np.random.randint(low=26,
                                                  high=100,
                                                  size=num_samples)

### Large firms

In [10]:
# the desired covariance matrix.
r = np.array([
        [  1.00, -0.20, -0.03,  0.11],
        [ -0.20,  1.00, -0.05, -0.09],
        [ -0.03, -0.05,  1.00,  0.05],
        [  0.11, -0.09,  0.05,  1.00]
    ])

# generate the random samples.
df_101_500 = pd.DataFrame(np.random.multivariate_normal(mu, r, size=num_samples),
                          columns=names)

# expand
df_101_500.loc[:, 'cohort'] = 'large'
df_101_500.loc[:, 'firm_size'] = np.random.randint(low=101, high=500,
                                                size=num_samples)

### Very large firms

In [11]:
# the desired covariance matrix.
r = np.array([
        [  1.00, -0.15, -0.03,  0.11],
        [ -0.15,  1.00, -0.05, -0.09],
        [ -0.03, -0.05,  1.00,  0.05],
        [  0.11, -0.09,  0.05,  1.00]
    ])

# generate the random samples.
df_501_ = pd.DataFrame(np.random.multivariate_normal(mu, r, size=num_samples),
                       columns=names)

# expand
df_501_.loc[:, 'cohort'] = 'very large'
df_501_.loc[:, 'firm_size'] = np.random.randint(low=501, high=2000,
                                                size=num_samples)

#### Data preparation

In [12]:
df = pd.concat([df_1_5, df_6_25, df_26_100, df_101_500, df_501_],
               axis=0)
df.info()

df.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   job_sat    5000 non-null   float64
 1   int_qui    5000 non-null   float64
 2   age        5000 non-null   float64
 3   org_tnr    5000 non-null   float64
 4   cohort     5000 non-null   object
 5   firm_size  5000 non-null   int64
dtypes: float64(4), int64(1), object(1)
memory usage: 273.4+ KB

    job_sat   int_qui       age   org_tnr cohort  firm_size
0 -0.505798  1.416839  0.432379  0.151996  micro          4
1  0.026324 -0.160078 -0.064152  1.180361  micro          1
2  0.374793  1.424660  0.952461  0.914404  micro          1
3  0.340800  0.185450  1.842481  1.142542  micro          4
4  0.665719  0.292559  0.666665  0.038033  micro          3

# Regression analysis

There are two alternatives to carry out the regression analysis of intention to quit on job satisfaction as contingent on firm size:

+ Alternative 1: producing 5 models, each of which applies to a certain cohort of firms. This will generate the following key estimates:
  - 5 slopes relating job satisfaction to intention to quit [$\beta_{micro}$, $\beta_{small}$, ..... ]
  - no $\delta$ / no interaction effect
+ Alternative 2: producing one model that operationalizes the equation reported in the very first cell of this notebook. This will generate the following key estimates:
  - $\beta$: the effect of job satisfaction that does not depend on firm size
  - $\delta$: the effect of job satisfaction that depends (i.e., it is contingent) on firm size

In [13]:
## --------- code to complete: this is the focus of problem set 4 -------------

# Visualization

The visualization should contain a maximum of two plots; 1 plot is acceptable too.

In [ ]:
## --------- code to complete: this is the focus of problem set 4 -------------